.rwrks_para p {
  margin-left: 5rem;
  color: whitesmoke;
}
.rwrks__whatrwrks {
  display: flex;
  flex-direction: column;

  padding: 2rem;
  background: rgb(16, 16, 16);
  background: linear-gradient(
    135deg,
    rgba(16, 16, 16, 1) 84%,
    rgba(41, 41, 40, 0.9822303921568627) 94%
  );
}

.rwrks__whatrwrks-feature {
  display: flex;
}

.rwrks__whatrwrks-feature .rwrks__features-container__feature {
  margin: 0;
}

.rwrks__whatrwrks-feature .rwrks__features-container_feature-text {
  max-width: 700px;
}

.rwrks__whatrwrks-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 4rem 0 2rem;
}

.rwrks__whatrwrks-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  max-width: 510px;
  font-family: var(--font-family);
}

.rwrks__whatrwrks-heading p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #f1e219;
  cursor: pointer;
}

.rwrks__whatrwrks-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
  color: purple;
}

.rwrks__whatrwkrs-container .rwrks__features-container__feature {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  display: unset;
  flex-direction: column;
}

.rwrks__whatrwkrs-container .rwrks__features-container_feature-text {
  margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
  .rwrks__whatrwrks-heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0rem;
  }

  .rwrks__whatrwrks-heading p {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .rwrks__whatrwrks-feature .rwrks__features-container__feature {
    flex-direction: column;
  }

  .rwrks__whatrwrks-feature .rwrks__features-container_feature-text {
    margin-top: 0.5rem;
  }

  .rwrks__whatrwrks-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 350px) {
  .rwrks__whatrwkrs-container .rwrks__features-container__feature {
    margin: 1rem 0;
    min-width: 100%;
  }
}
