.rwrks__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  padding: 2rem;
  margin: 4rem;
  border-radius: 1rem;
  /* background: var(--gradient-bar); */
  /* background: #7cac52; */
  /* background: #cff0c5; */
  /* background: #e6ce6f; */
  /* background: #fbface; */
  /* background: #78a464; */
  /* background: greenyellow; */
  background: whitesmoke;
}

.rwrks__cta-content p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: #0e0e0e;
}

.rwrks__cta-content h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
  color: #000000;
}

.rwrks__cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.rwrks__cta-button button {
  background: #000000;
  color: whitesmoke;
  border-radius: 40px;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding: 0.5rem 1rem;

  border: none;
  outline: none;
  cursor: pointer;
  min-width: 150px;
}

@media screen and (max-width: 650px) {
  .rwrks__cta {
    flex-direction: column;
  }

  .rwrks__cta-button {
    margin: 2rem 0 0;
  }
}

@media screen and (max-width: 550px) {
  .rwrks__cta {
    margin: 4rem 2rem;
  }
  .rwrks__cta-content h3 {
    font-size: 18px;
    line-height: 32px;
  }
  .rwrks__cta-buton button {
    font-size: 14px;
    line-height: 28px;
  }
}
