.rwrks__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.rwrks__navbar-links {
  flex: 1;
  display: flex;
  justify-content: 'flex-start';
  align-items: center;
}

.rwrks__navbar-links_logo {
  margin-right: 2rem;
}

.rwrks__navbar-links_logo img {
  width: 3rem;
  height: 3rem;
}
