@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  /* -------------------------------- */

  --gradient-text: linear-gradient(89.97deg, #399218 1.84%, #f1e219 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #399218 -13.86%, #f1e219 99.55%);

  --color-bg: rgba(0, 0, 0, 1);
  --color-footer: #f1e219;
}
