.rwrks__footer {
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgb(31, 30, 30);
}

/* 
STYLING FOR LOGO */

.rwrks__footer-links_logo img {
  width: 4rem;
}
.rwrks__footer-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.rwrks__footer-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04em;
}

.rwrks__footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #fff;
  text-align: center;
  margin-bottom: 10rem;
  cursor: pointer;
}
.rwrks__footer-btn p {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 21px;
  color: whitesmoke;
  word-spacing: 2px;
}

.rwrks__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;

  width: 100%;
  text-align: left;
}
